@import '~bootstrap/scss/bootstrap';

.form-group {
  margin: 0.5rem;
  width: 80%;
}

.form-control {
  &:hover {
    border: 1px solid #3F88C5;
  }
}

body {
  background-color: #F5F5F5;
}

.header {
  background-color: #3F88C5;
}

.navbar-light .navbar-brand {
  color: #F5F5F5;
}

.navbar-light .navbar-nav .nav-link {
  color: #F5F5F5;
}
