@import '~bootstrap/scss/bootstrap';

.form-group {
  margin: 0.5rem;
  width: 80%;
}

body {
  background-color: #F5F5F5;
}

.header {
  background-color: #3F88C5;
}

.navbar-light .navbar-brand {
  color: #F5F5F5;
}
